<a href="https://colab.research.google.com/github/oimartin/460/blob/main/hw4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import random
import pandas as pd
from scipy.stats import sem

# Practice

In [ ]:
demand = 32

N = 100
dayprofit = []

for k in range(1,N):
  ordered = demand
  soldRN = np.random.uniform(0,1)
  if soldRN < 0.05:
    sold = 30
  elif soldRN < 0.2:
    sold = 31
  elif soldRN < 0.42:
    sold = 32
  elif soldRN < 0.8:
    sold = 33
  elif soldRN < 0.94:
    sold = 34
  else:
    sold = 35

  demand = sold
  dayprofit.append(min(sold,ordered)*0.1 - abs(sold-ordered)*0.1)

endbalance = sum(dayprofit)/N
print(endbalance)

2.9899999999999975

# Question 1
Monte Carlo simulation: points in a circle

In [ ]:
x = np.random.uniform(0,1)
y = np.random.uniform(0,1)

## Part a

In [3]:
def inside_a_circle (x,y):
  if x*2 + y*2 < 1:
    return 1

  elif x*2 + y*2 >= 1:
    return 0

## Part b

In [31]:
def estimate_pi (N):
  inside = []
  pi_est = []
  standard_error = []

  for i in range(0,N):
    x = np.random.uniform(0,1)
    y = np.random.uniform(0,1)

    result = inside_a_circle(x,y)
    inside.append(result)
    
  pi_est.append(4*sum(inside) / len(inside))
  standard_error.append(sem(inside))
  pi_se = [error * 4 for error in standard_error]
  ci_95 = [(1.96*error/ np.sqrt(len(inside))) for error in pi_se]

  return pi_est[0], pi_se[0], ci_95[0]

## Part C

In [32]:
pi_estimate = []
pi_standard_error = []
confidence_int_95 = []
pi_upper = []
pi_lower = []
interval = []
N = []

for i in range(1000, 10500, 500):
  N.append(i)
  pi_est, pi_se, ci_95 = estimate_pi(i)

  pi_estimate.append(pi_est)
  pi_standard_error.append(pi_se)
  confidence_int_95.append(ci_95)
  pi_upper.append(pi_est + ci_95)
  pi_lower.append(pi_est - ci_95)
  interval.append(ci_95*2)


df = {'N': N,
      'estimate': pi_estimate,
      'se': pi_standard_error,
      'upper': pi_upper,
      'lower': pi_lower,
      'interval': interval}

pd.DataFrame(df)

        N  estimate        se     upper     lower  interval
0    1000  0.460000  0.040374  0.462502  0.457498  0.005005
1    1500  0.408000  0.031268  0.409582  0.406418  0.003165
2    2000  0.514000  0.029939  0.515312  0.512688  0.002624
3    2500  0.488000  0.026188  0.489027  0.486973  0.002053
4    3000  0.485333  0.023849  0.486187  0.484480  0.001707
5    3500  0.488000  0.022132  0.488733  0.487267  0.001466
6    4000  0.505000  0.021008  0.505651  0.504349  0.001302
7    4500  0.514667  0.019968  0.515250  0.514083  0.001167
8    5000  0.473600  0.018278  0.474107  0.473093  0.001013
9    5500  0.521455  0.018162  0.521935  0.520975  0.000960
10   6000  0.498667  0.017060  0.499098  0.498235  0.000863
11   6500  0.472000  0.016007  0.472389  0.471611  0.000778
12   7000  0.510857  0.015958  0.511231  0.510483  0.000748
13   7500  0.496533  0.015231  0.496878  0.496189  0.000689
14   8000  0.523500  0.015084  0.523831  0.523169  0.000661
15   8500  0.508706  0.014456  0.509013  0.508399  0.000615
16   9000  0.525333  0.014242  0.525628  0.525039  0.000588
17   9500  0.498105  0.013551  0.498378  0.497833  0.000545
18  10000  0.482400  0.013027  0.482655  0.482145  0.000511

# Question 2
Simulation: selling bikes and making bonus on bike sales

In [ ]:
# determine number of bikes sold
possible_bikes = [4,5,6,7,8]
bikes_sold = random.choices(possible_bikes, weights=(0.4, 0.35, 0.45, 0.15, 0.05))[0]
bikes_sold

# Set up variables
day_bonus = 0
model_A = 0
model_B = 0
model_C = 0
model_D = 0

# Determine bonus made if sold more than 4 bikes
if bikes_sold > 4:

  # iterate over the number of bikes to determine model and bonus
  for k in range(1,bikes_sold):

    # Generate random probability to pick a bike model
    bike_type = np.random.uniform(0,1)

    # Model A Bike
    if bike_type < 0.4:
      bonus = 10
      day_bonus += bonus
      model_A += 1

    # Model B Bike
    elif bike_type < 0.75:
      bonus = 15
      day_bonus += bonus
      model_B += 1

    # Model C Bike
    elif bike_type < 0.95:
      bonus = 20
      day_bonus += bonus
      model_C += 1

    # Model D Bike
    else:
      sold = 25
      day_bonus += bonus
      model_D += 1

  # Potential bonus made
  print(f'''The salesperson sold {bikes_sold} bikes, and made ${day_bonus} in bonus money.

The salesperson sold the following bikes: 
  {model_A} model A bikes
  {model_B} model B bikes
  {model_C} model C bikes
  {model_C} model D bikes''')

# If less than 4 bikes were sold, no bonus
elif bikes_sold <= 4:
  print(f'The salesperson sold 4 or less bikes and did not get a bonus.')

The salesperson sold 5 bikes, and made $70 in bonus money.

The salesperson sold the following bikes:
  0 model A bikes
  2 model B bikes
  2 model C bikes
  2 model D bikes