<a href="https://colab.research.google.com/github/oimartin/460/blob/main/hw4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import random
import pandas as pd
from scipy.stats import sem #standard error of the mean
from statistics import stdev

# Question 1
Monte Carlo simulation: points in a circle

## Part a

In [18]:
# determine points inside or outside the quarter circle
# r = 1
def inside_a_circle (x,y):

  # points inside the circle
  if x**2 + y**2 < 1:
    return 1
  
  # points outside the circle
  elif x**2 + y**2 >= 1:
    return 0

## Part b

In [19]:
# func to estimate pi, standard error
def estimate_pi (N):
  
  # set up variables
  xy_points = []

  # loop through N pairs
  for i in range(0,N):
    x = np.random.uniform(0,1)
    y = np.random.uniform(0,1)

    result = inside_a_circle(x,y)

    # update list of xy_points
    xy_points.append(result)

  print(xy_points)
  # estimate of pi for N pairs 
  pi_est = 4*sum(xy_points) / len(xy_points)
  print(sum(xy_points))
  print(len(xy_points))
  print(pi_est)

  # standard error of points inside quarter circle
  standard_error = stdev(xy_points)
  print(pi_est)

  # standard error of pi
  pi_se = standard_error * 4
  print(pi_se)

  # confidence interval 
  ci_95 = (1.96*pi_se/ np.sqrt(len(xy_points)))
  print(ci_95)

  return pi_est, pi_se, ci_95

In [14]:
test = [0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0]
sum(test)

12

In [20]:
estimate_pi(50)

[1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
36
50
2.88
2.88
1.8142294704442907
0.5028787527824177

(2.88, 1.8142294704442907, 0.5028787527824177)

## Part C

In [4]:
pi_estimate = []
pi_standard_error = []
confidence_int_95 = []
pi_upper = []
pi_lower = []
interval = []
N = []

for i in range(1000, 10500, 500):
  N.append(i)
  pi_est, pi_se, ci_95 = estimate_pi(i)

  pi_estimate.append(pi_est)
  pi_standard_error.append(pi_se)
  confidence_int_95.append(ci_95)
  pi_upper.append(pi_est + ci_95)
  pi_lower.append(pi_est - ci_95)
  interval.append(ci_95*2)


df = {'N': N,
      'estimate': pi_estimate,
      'se': pi_standard_error,
      'upper': pi_upper,
      'lower': pi_lower,
      'interval': interval}

pd.DataFrame(df)

        N  estimate        se     upper     lower  interval
0    1000  0.560000  1.388643  0.646069  0.473931  0.172138
1    1500  0.528000  1.354415  0.596543  0.459457  0.137086
2    2000  0.480000  1.300171  0.536983  0.423017  0.113965
3    2500  0.497600  1.320413  0.549360  0.445840  0.103520
4    3000  0.508000  1.332114  0.555669  0.460331  0.095338
5    3500  0.486857  1.308009  0.530192  0.443523  0.086669
6    4000  0.487000  1.308151  0.527540  0.446460  0.081080
7    4500  0.543111  1.370362  0.583150  0.503072  0.080078
8    5000  0.460000  1.276215  0.495375  0.424625  0.070750
9    5500  0.502545  1.325877  0.537587  0.467504  0.070082
10   6000  0.492000  1.313858  0.525245  0.458755  0.066490
11   6500  0.515692  1.340562  0.548282  0.483102  0.065180
12   7000  0.514857  1.339629  0.546240  0.483474  0.062766
13   7500  0.503467  1.326885  0.533497  0.473436  0.060060
14   8000  0.503000  1.326352  0.532065  0.473935  0.058130
15   8500  0.505412  1.329065  0.533667  0.477157  0.056510
16   9000  0.502222  1.325465  0.529607  0.474838  0.054769
17   9500  0.506105  1.329836  0.532847  0.479363  0.053484
18  10000  0.486800  1.307821  0.512433  0.461167  0.051267

# Question 2
Simulation: selling bikes and making bonus on bike sales

In [ ]:
# determine number of bikes sold
possible_bikes = [4,5,6,7,8]
bikes_sold = random.choices(possible_bikes, weights=(0.4, 0.35, 0.45, 0.15, 0.05))[0]
bikes_sold

# Set up variables
day_bonus = 0
model_A = 0
model_B = 0
model_C = 0
model_D = 0

# Determine bonus made if sold more than 4 bikes
if bikes_sold > 4:

  # iterate over the number of bikes to determine model and bonus
  for k in range(1,bikes_sold):

    # Generate random probability to pick a bike model
    bike_type = np.random.uniform(0,1)

    # Model A Bike
    if bike_type < 0.4:
      bonus = 10
      day_bonus += bonus
      model_A += 1

    # Model B Bike
    elif bike_type < 0.75:
      bonus = 15
      day_bonus += bonus
      model_B += 1

    # Model C Bike
    elif bike_type < 0.95:
      bonus = 20
      day_bonus += bonus
      model_C += 1

    # Model D Bike
    else:
      sold = 25
      day_bonus += bonus
      model_D += 1

  # Potential bonus made
  print(f'''The salesperson sold {bikes_sold} bikes, and made ${day_bonus} in bonus money.

The salesperson sold the following bikes: 
  {model_A} model A bikes
  {model_B} model B bikes
  {model_C} model C bikes
  {model_C} model D bikes''')

# If less than 4 bikes were sold, no bonus
elif bikes_sold <= 4:
  print(f'The salesperson sold 4 or less bikes and did not get a bonus.')

The salesperson sold 5 bikes, and made $70 in bonus money.

The salesperson sold the following bikes:
  0 model A bikes
  2 model B bikes
  2 model C bikes
  2 model D bikes

# Practice

In [ ]:
demand = 32

N = 100
dayprofit = []

for k in range(1,N):
  ordered = demand
  soldRN = np.random.uniform(0,1)
  if soldRN < 0.05:
    sold = 30
  elif soldRN < 0.2:
    sold = 31
  elif soldRN < 0.42:
    sold = 32
  elif soldRN < 0.8:
    sold = 33
  elif soldRN < 0.94:
    sold = 34
  else:
    sold = 35

  demand = sold
  dayprofit.append(min(sold,ordered)*0.1 - abs(sold-ordered)*0.1)

endbalance = sum(dayprofit)/N
print(endbalance)

2.9899999999999975